* {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
}

.app {
  font-size: 30px;
}

.button {
  background-color: #0000ff;
  color: white;
  border: 0;
  padding: 15px 20px;
  min-width: 150px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}